body {
    font-family: 'roboto';
    margin: 0;
    padding: 0;
}

.top-nav {
    width: 55%;
    height: 4em;
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: auto;
    margin-right: auto;
}

.top-nav h2 {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    color: #1A73E8;
    padding-left: 4em;
}

.plus-icon {
    margin: 1em;
    margin-right: 5em;
    width: 35px;
    height: 35px;
}

.plus-icon:hover {
    animation: spin .5s ease-out;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

.todo-nav-list {
    display: grid;
    grid-template-columns: 60%;
    grid-gap: 1em;
    margin-top: 8em;
    justify-content: center;
}
p {
    display: flex;
    margin-top: 8em;
    justify-content: center;
    margin-bottom: -6em;
}
.todo-nav-list div {
    /* line-height: 60px; */
    font-size: 18px;
    font-weight: 500;
    padding: .5em;
    word-wrap: break-word;
    word-break: break-all;
    height: auto;
    padding-top: 29.5px;
    padding-bottom: 29.5px;
    color: #161616;
    background: #EFEFEF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.19);
}

.todo-nav-list button {
    background-color: whitesmoke; 
    border: 2px solid red;
    color: black;
    padding: .5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 1em;
}

.todo-nav-list button:hover {
    background-color: red;
    color: black;
  }

@media screen and (max-width: 900px) {
    .plus-icon {
        margin-left: 0 !important;
        margin: 0;
        margin-top: 1em;
        padding-right: 1em;
    }
    .top-nav h2 {
        padding-left: 0;
    }
    .top-nav {
        width: 70%;
    }
    .todo-nav-list {
        grid-template-columns: 90%;
    }
    .prompt-event-container {
        width: 85% !important;
    }
}

.prompt-task-event {
    /* display: none;   */
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(18, 19, 18);
    z-index: 5;
    /* opacity: .3; */
    background-color: rgba(18, 19, 18, 50%);
}

.prompt-event-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 25%;
    width: 30%;
    height: 20em;
    z-index: 5;
    padding: 1em;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.prompt-event-container h3 {
    text-align: center;
}

.input-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 10%;
}

#task-input {
    font-size: 14pt;
    position: relative;
    padding: 10px 12px;
    /* background: transparent; */
    border: none;
    width: 65%;
    /* height: auto; */
    min-height: auto;
    border-bottom: 1px solid #444;
    margin-left: auto;
    margin-right: auto;
    resize: none;
    font-family: Roboto;
    color: #161616;
    font-weight: 430;
}

#task-input:focus {
    outline: none;
    border-bottom: 4px solid lightblue;
    stroke-linecap: round;
    width: 70%;
}

#action-btn {
    padding: .5em;
    width: 50%;
    min-width: 6em;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    background: #1A73E8;
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    font-size-adjust: 100%;
    /* margin-top: 53em; */
    /* line-height: 23px; */
    text-align: center;
    letter-spacing: 0.025em;
    color: white;
    border: 0 solid #1A73E8;
}